h1 {
  color:orange;
  text-align:center;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

body {
  font-family:Georgia, 'Times New Roman', Times, serif;
}

h3 {
  color:orange;
}

h4 {
  color:red;
  text-align:center;
}

#replacements {
  text-align:center;
}

#submit-button {
  background-color:orange;
  color:white;
  display:block;
  margin:auto;
  font-weight:bold;
  font-family:Georgia, 'Times New Roman', Times, serif;
}

#reset-button {
  float:right;
  background-color:white;
  color:orange;
  font-weight:bold;
  font-family:Georgia, 'Times New Roman', Times, serif;
}

#number-form {
  background-color:lightyellow;
  padding: 15px;
  margin:auto;
  float:left;
}

#name-box {
  color:orange;
  font-weight:bold;
}

#number-box {
  color:orange;
  font-weight:bold;
}

#sun {
  display:block;
  margin:auto;
}

.hidden {
  display:none;
}